<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Departamento</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.correo }}</td>
                    <td>{{ empleado.departamento.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
